<div class="control-section">
    <div class="content-wrapper">
        <div class="flex-container">
            <label class="switchLabel" for="checked">Standalone PDF Viewer</label>
            <div class="e-message render-mode-info">
                <span class="e-msg-icon render-mode-info-icon" title="Turn OFF to render the PDF Viewer as server-backed"></span>
            </div>
            <div>
                <ejs-switch cssClass="buttonSwitch" id="checked" (change)="change($event)" [checked]="true"></ejs-switch>
            </div>
        </div>
        <ejs-pdfviewer #pdfviewer id="pdfViewer" [documentPath]='document' [pdfiumPath]='pdfiumPath' style="height:640px;display:block"></ejs-pdfviewer>
    </div>
</div>

